{% extends "base.html" %}

{% block title %}
  <title>Edit Task - Taskmate</title>
{% endblock title %}

{% block content %}
  <div class="container">
  </br>

    {% if task_obj.manager == request.user %}
            <form method="POST"><!connects to views.py>
              {% csrf_token %}
              <label class="col-lg-2"></label>
              <input type="text" class="form-control col-lg-6" name="task" placeholder="{{ task_obj.task }}" value="{{ task_obj.task }}">
              <input type="hidden" class="form-control col-lg-6" name="done" value="{{ task_obj.done }}">
              <button id="add_task" type="submit" class="btn btn-primary col-lg-2">Update Task</button>
            </form>
    {% else %}
      <p>Access Restricted! Action not allowed</p>
    {% endif %}
  </div>
{% endblock content %}
